<div class="row">
  <span class="label">社員番号</span>
  <span><%= employee.number %></span>
</div>

<div class="row">
  <span class="label">氏名</span>
  <span><%= "#{employee.last_name} #{employee.first_name}" %></span>
</div>

<div class="row">
  <span class="label">部署</span>
  <span><%= employee.department.name %></span>
</div>
