<div class="profile_space">
  <p class="employee_index"><%= link_to '一覧に戻る', employees_path, class: 'btn' %></p>

  <%= render partial: 'employee_info', locals: { employee: @employee } %>

  <div class="row">
    <span class="label">プロフィール</span>
    <span class="profile_value">
      <% if current_user == @employee %>
        <p><%= link_to 'プロフィールを作成', new_employee_profile_path(@employee) %></p>
      <% else %>
        （プロフィールがありません）
      <% end %>
      </span>
  </div>
</div>
