<div class="profile_space">
  <p class="employee_index"><%= link_to '一覧に戻る', employees_path, class: 'btn' %></p>

  <%= render partial: 'employee_info', locals: { employee: @employee } %>

  <div class="row">
    <span class="label">プロフィール</span>
    <span class="profile_value"><%= @profile.profile %></span>
  </div>
</div>
