/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

table {
  border-collapse:  collapse;
}

tr {
  border: solid 1px;
}

.container {
  height: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.row-center {
  text-align: center;
}

#menu {
  width: auto;
  border: 1px solid;
  font-size: 24px;
  display: flex;
}

#menu ul {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

#menu li {
  margin: 0 30px 0 30px;
  float: left;
}

#dropdown_menu {
  display: none;
}

#dropdown_menu ul {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

#dropdown_menu li {
  margin: 0 30px 0 30px;
  float: left;
}

#dropdown_menu.is-open {
  display: flex;
  margin: 0;
  width: auto;
  font-size: 24px;
}

.dropdown_items {
  border: 1px solid;
}

.left_menu, .right_menu {
  display: inline-block;
}

.left_menu {
  margin-right: auto;
}

.right_menu {
  margin-left: auto;
}

.dropdown__btn {
  font-size: 24px;
  background: none;
  border: 0;
}

