.employee_index {
  .new_employee {
    text-align: right;
    margin-right: 31px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .employee_table {
    height: fit-content;
    width: 700px;
    table-layout: fixed;
    margin-top: 20px;

    thead {
      line-height: 50px;

      .department_th {
        width: 90px;
      }
    }

    .name {
      text-align: left;
      width: 350px;
      padding-left: 50px;
    }

    .employee {
      line-height: 30px;

      .btn_th {
        display: inline-block;
      }
    }
  }
}

.employee_form {
  position: relative;
  margin-top: 60px;

  .form_group {
    display: flex;
    line-height: 2.4em;

    label {
      display: inline-block;
      width: 120px;
    }

    input {
      width: 150px;
      margin-right: 20px;
      margin-top: 5px;
    }

    input[type="checkbox"]{
      margin: 12px 0 0 -227px;
    }

    select {
      height: 29px;
      width: 158px;
      padding-left: 12px;
      margin-top: 5px;
      border-radius: 6px;
    }

    .checkbox_label {
      width: fit-content;
      margin-left: 30px;
    }
  }

  input[type="submit"]{
    position: absolute;
    top: -38px;
    right: 20px;
    padding: 0px 22px;
    background-color: white;
    border: 1px solid;
  }
}
