.profile_space {
  position: relative;
  margin-top: 30px;

  .employee_index {
    text-align: right;
    margin-right: 10px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }

  .row {
    line-height: 2.4em;

    .profile_value {
      width: 480px;
      display: inline-block;
      line-height: 1.5em;
      padding-top: 45px;
    }
  }

  .form_group {
    display: flex;

    textarea {
      width: 480px;
      height: 100px;
      padding: 7px;
      display: inline-block;
      line-height: 1.5em;
    }
  }

  input[type="submit"]{
    position: absolute;
    top: -19px;
    right: 0px;
    padding: 0px 22px;
    background-color: white;
    border: 1px solid;
  }
}
