// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.session {
  margin: auto;
}

.form-group {
  padding-bottom: 20px;
}

.form-label {
  font-size: 22px;
  margin-right: 10px;
}

.form-submit {
  padding: 8px;
  font-size: 16px;
}

input[type="text"] {
  width: 300px;
  height: 22px;
}

input[type="password"] {
  width: 300px;
  height: 22px;
}

